body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

div {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1,
h4 {
  text-align: center;
  color: #007bff;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
}

button:hover {
  background-color: #0056b3;
}

span {
  color: tomato;
  size: 50%;
}
#name_error {
  color: tomato;
}
#date_error {
  color: tomato;
}
#mail_error {
  color: tomato;
}
#number_error {
  color: tomato;
}
