<!DOCTYPE html>
<html>
  <head>
    <title>QR Code</title>
    <link rel="stylesheet" href="/qr.css" />
  </head>
  <body>
    <h1>Scan the QR Code</h1>
    <img src="<%= qrCodeUrl %>" alt="QR Code" />
    <button><a href="/">Back</a></button>
  </body>
</html>
